{% load static %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
            <!-- Footer Social Info -->
            <div class="footer-social-info text-right">
                <a href="https://www.facebook.com/groups/cozinhandonairlanda" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/cozinhando_nairlanda/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Footer Area Start ##### -->
</footer>
<div class="gap"></div>
<footer class="bg-primary bg-dark text-white footer">
    <div class="container navbar-dark pt-3">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">Developed by Emidio Valeretto</p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
