{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png'%}" alt="">
    </div>

    {% include 'partials/_search.html' %}

    {% include 'partials/_menu.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if recipes %}
                {% for recipe in recipes %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if recipe.image %}
                            <a href="{% url 'recipe' recipe.id %}"><img src="{{ recipe.image.url }}" alt=""></a>
                        {% else %}
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                        {% endif %}
                            <div class="receipe-content">
                            <a href="{% url 'recipe' recipe.id %}">
                                <h5>{{recipe.name}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 col-sm-12 col-lg-12">
                    <img src="{% static 'img/bg-img/search.png' %}" width="100%" height="100%" alt="">
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/_footer.html' %}

{% endblock %}